/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	html {
		height: 100%;
	}
	body {
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

/* #Typography
================================================== */

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { margin-bottom: 0; }
	h2 { margin-bottom: 15px; }
	h3 { margin-bottom: 15px; }
	h4 { margin-bottom: 15px; }
	h5 { margin-bottom: 15px; }
	h6 { margin-bottom: 15px; }

	p { margin: 0 0 15px 0; }

	em, i { font-style: italic; }
	b, strong { font-weight: bold; }
	small { font-size: 80%; }

	hr { display: block; border: none; outline: none; height: 1px; width: 100%; margin-bottom: 15px; clear: both; background-color: #EBEAEA; color: #EBEAEA; }
	
	.highlight { padding: 0 8px; }
	
	#Content a > i { margin-right: 10px; }


/* #Links
================================================== */
	a, a:visited, a:focus { text-decoration: none; outline: 0; }
	a:hover { text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }


/* #Images
================================================== */

	img.scale-with-grid,
	#Content img {
		max-width: 100%;
		height: auto;
	}
	
	.google-map img {
		max-width:none !important;
	}
	
	iframe {
		max-width: 100%;
	}


/* #Buttons
================================================== */

	a.tp-button{
		background: none;
		font-family: inherit !important;
		height: auto !important;
		line-height: inherit !important;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		letter-spacing: 0 !important;
		text-shadow: 0 0 0 !important;
		box-shadow: 0 0 0 !important;
		font-weight: normal;
	}

	a.button, a.tp-button, button, input[type="submit"], input[type="reset"], input[type="button"] {
		border-width: 2px;
		border-style: solid;
		display: inline-block;
		padding: 12px 20px;
		font-size: 15px;
		line-height: 15px;
		margin-bottom: 15px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		background: none;
		z-index: 1;
		cursor: pointer;
	}
	
	a.button i, a.tp-button i, button i, input[type="submit"] i, input[type="reset"] i, input[type="button"] i {
		margin: 0px !important;
	}
	
	a.button:after, a.tp-button:after, button:after, input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after {
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	a.button_small {
		font-size: 13px;
		padding: 8px 23px;
	}
	
	a.button_large {
		font-size: 16px;
		padding: 13px 30px;
	}
	
	a:hover.button, a:hover.tp-button {
		text-decoration: none;
	}
	
	a.button:hover:after, a.tp-button:hover:after, a.button:active:after, a.tp-button:active:after, button:hover:after, input[type="submit"]:hover:after, input[type="reset"]:hover:after, input[type="button"]:hover:after {
		height: 100%;
	}
	 
	 /* #Control Button
	================================================== */
	a.control_button, span.control_button { display: block; float: left; margin: 0 2px; overflow: hidden; background: #ccc; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; border-width: 1px; border-style: solid; }
	a.control_button span, span.control_button span { display: block; width: 22px; height: 22px; overflow: hidden; text-indent: -9999px; }



	.button.full-width, button.full-width, input[type="submit"].full-width,
	input[type="reset"].full-width, input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner, input::-moz-focus-inner {
    	border: 0;
    	padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 0;
	}
	
	fieldset {
		margin-bottom: 0;
	}
		
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select {
		border: 0;
		padding: 12px 10px;
		outline: none;
		margin: 0;
		width: 230px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		font-size: 13px;
		border-bottom-width: 1px;
		border-style: solid;
	}

	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {}
		
	textarea {
		min-height: 60px;
	}
	
	label, legend {
		display: block;
		font-size: 110%;
	}
	
	input[type="checkbox"] {
		display: inline;
	}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	
.sections_group .section .section_wrapper .items_group	.fancy_heading { margin-top:140px !important;}

