@font-face {
font-family:"BYekan";
src: url("fonts/BYekan.eot");
src: local( "☺" ),
url( "fonts/BYekan.woff" )
format( "woff" ),
url("fonts/BYekan.ttf ")
format( "truetype" );
}
@font-face {
font-family:"koodak";
src: url("fonts/koodak.eot");
src: local( "☺" ),
url( "fonts/koodak.woff" )
format( "woff" ),
url("fonts/koodak.ttf ")
format( "truetype" );
} 
@font-face {
font-family:"Kufi";
src: url("fonts/Kufi.eot");
src: local( "☺" ),
url( "fonts/Kufi.woff" )
format( "woff" ),
url("fonts/Kufi.ttf ")
format( "truetype" );
} 
@font-face {
font-family:"Naskh";
src: url("fonts/Naskh.eot");
src: local( "☺" ),
url( "fonts/Naskh.woff" )
format( "woff" ),
url("fonts/Naskh.ttf ")
format( "truetype" );
} 
/*-----------EDIT BY farishtheme.ir---------------------*/
#mfn-wrapper, #mfn-wrapper .code {
    font-family: BYekan !important;
}
.form-wrap p, p.description, p.help, span.description {
    font-size: 10px !important;
}
#wpbody-content {
    float: right !important;
}
#mfn-aside {
  float:right !important;
}
#mfn-wrapper .mfn-section h3 {
    right: 50px !important;
	left:auto !important;
	font-size: 26px;

}
.mfn-header .mfn-buttons-more {
    left: 0 !important;
	right:auto !important;
    padding: 0 91px 0 20px !important;
}
.mfn-header {
    background-position: 560px 30px !important;
}
#mfn-main {
  float:right !important;
}
#mfn-wrapper ul.mfn-menu > li > a > .icon {
  float:right !important;
  margin:18px 18px 18px 14px !important;
  font-weight:normal !important;
}
#mfn-wrapper ul.mfn-menu li ul.mfn-submenu li.active a, #mfn-wrapper ul.mfn-menu li ul.mfn-submenu li:hover a {
    border-right: 5px solid #a9cdf1  !important;
    border-left:none !important;
/*	background-position: 45px 14px !important;*/
}
#mfn-wrapper ul.mfn-menu li ul.mfn-submenu li a span {
    text-align: right !important;
}
#mfn-wrapper ul.mfn-menu li ul.mfn-submenu li a {
    background-position:20px 14px  !important;
    padding: 0 47px 0 20px !important;
}
#mfn-wrapper ul.mfn-menu > li > a {
	direction:rtl !important;
	text-align:right !important;
}
.mfn-header .mfn-buttons {
float: left !important;
border-right: 1px solid #48c9b0 !important;
border-left:none !important;
}
.mfn-header .mfn-popup-save {
float: left !important;
margin: 19px 91px 0 20px !important;
}
.mfn-sections {
    direction: rtl !important;
    text-align: right !important;
}
#mfn-wrapper .form-table tr th {
    padding: 15px 0 15px 10px  !important;
}
.form-table th {
    padding: 20px 0px 20px 10px !important;
    text-align: right !important;
}
.has-switch label {
    float: right !important;
    margin: 0 -14px 0 -15px !important;
}
.has-switch span {
    float: right !important;
	font-weight:normal !important;
}
.mfn-sections-footer .mfn-popup-save {
    float: left  !important;
}
.mfn-popup-reset {
    float: right  !important;
}
.has-switch {
    float: right !important;
    margin-left: 15px !important;
	margin-right:auto !important;
    text-align: right !important;
}
.has-switch > div.switch-off {
    right: -63% !important;
	left:auto !important;
}
#mfn-wrapper .form-table input.small-text {
    float: right !important;
    margin-left: 15px !important;
}
.mfn-element-header .mfn-element-tools {
    left: 0 !important;
	right:auto !important;
}
.mfn-item-add ul.mfn-item-add-list li {
    float: right  !important;
}
.mfn-element {
    float: right !important;
}
.mfn-row-add .mfn-row-add-btn em {
    margin-left: 5px !important;
	margin-right:auto !important;
}
#mfn-popup a.mfn-popup-close {
    left: 15px !important;
	right:auto !important;
}
#mfn-wrapper .form-table .tabs-ul li .mfn-remove-tab {
    left: 10px !important;
	right:auto !important;
}
#mfn-wrapper .form-table .tabs-ul li {
    float: right !important;
    margin: 10px 0 0 10px !important;
}
#mfn-wrapper .form-table .mfn-add-tab {
float: right  !important;
}
#mfn-wrapper ul.mfn-menu > li > a,
#mfn-wrapper .form-table tr th,
.mfn-popup-save,.mfn-popup-reset,
#mfn-wrapper a.btn-blue, #mfn-wrapper a.mfn-opts-upload {
font-size: 14px !important;
font-weight: normal !important;
}
#mfn-wrapper .mfn-sections .multi-text-ul li a.multi-text-remove {
left: 0 !important;
right:auto !important;
}
#mfn-wrapper .mfn-sections .multi-text-ul li span {
font-weight: normal !important;
}
#mfn-wrapper .mfn-logo {
background-position:  right center !important;
}
.mfn-import-wrapper .mfn-btn,
.mfn-import-wrapper h4 {
font-weight: normal  !important;
}
.mfn-item-add .mfn-item-add-btn {
font-weight: normal !important;
}
.mfn-row-add .logo {
height: 53px !important;
width: 27% !important;
}
.mfn-row-add .mfn-row-add-btn {
width: 72% !important;
}
.mfn-item .mfn-item-size {
float: right !important;
}