@font-face {
font-family:"BYekan";
src: url("fonts/BYekan.eot");
src: local( "☺" ),
url( "fonts/BYekan.woff" )
format( "woff" ),
url("fonts/BYekan.ttf ")
format( "truetype" );
}
@font-face {
font-family:"koodak";
src: url("fonts/koodak.eot");
src: local( "☺" ),
url( "fonts/koodak.woff" )
format( "woff" ),
url("fonts/koodak.ttf ")
format( "truetype" );
} 
ul.list li {
    /* direction: rtl !important; */
    font-family: byekan;
}
@font-face {
font-family:"Kufi";
src: url("fonts/Kufi.eot");
src: local( "☺" ),
url( "fonts/Kufi.woff" )
format( "woff" ),
url("fonts/Kufi.ttf ")
format( "truetype" );
} 
@font-face {
font-family:"Naskh";
src: url("fonts/Naskh.eot");
src: local( "☺" ),
url( "fonts/Naskh.woff" )
format( "woff" ),
url("fonts/Naskh.ttf ")
format( "truetype" );
} 
/****************EDIT BY farishtheme.ir*********************/
h1,h2,h3,h4, h5 , h6 {
    direction: rtl !important;
}
.dark a.button, .dark input[type="submit"], .dark input[type="reset"], .dark input[type="button"] {
    /* border-color: rgba(255, 255, 255, .7); */
    /* color: #fff; */
    font-family: byekan;
}
.fancy_heading .inside {
    /* font-size: 17px; */
    /* line-height: 21px; */
    font-family: byekan;
}
.owl-carousel .owl-wrapper-outer {
  
    direction: rtl;
    font-family: byekan;
 
}
a, a:visited, a:focus {
    /* text-decoration: none; */
    /* outline: 0; */
    font-family: byekan;
}
.testimonials ul.tm-content li .author span {
    /* font-size: 14px; */
    font-family: byekan;
}
.owl-carousel .owl-item {
    float: right;
}
p {
    /* direction: rtl !important; */
    /* font-weight: normal !important; */
    font-family: byekan;
}
#mfn-slider .dark .swiper-desc {
    /* color: #e4e4e4; */
    /* text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9); */
    font-family: byekan;
}
.faq .question .answer {
   
    font-family: byekan;
   
}
span.wpcf7-form-control-wrap .wpcf7-text, span.wpcf7-form-control-wrap .wpcf7-textarea {
  
    font-family: byekan;
}
#Header .language > a i, #Header .language a {
    /* direction: rtl; */
    font-family: byekan;
}
a.button, input[type="submit"], input[type="reset"], input[type="button"] {
    /* color: #353f4c; */
    font-family: byekan;
}
#Header #menu ul li a {
    /* text-align: right !important; */
    font-family: byekan;
}
h1, h2, h3, h4, h5, h6 {
    /* direction: rtl !important; */
    font-family: byekan;
}
p {
    direction: rtl !important;
	font-weight:normal !important;
}
.header-white-mod #Header .menu > li {
    border-left: 1px solid rgba(0, 0, 0, 0.03) !important;
    border-right: medium none !important;
	float:right !important;
}

#Header .menu > li {
float: right;
border-right: 1px solid rgba(255, 255, 255, .03);
}
/*
.header-mb #Header .logo {
margin: 40px 0 90px 20px !important;
}*/

#Header a.responsive-menu-toggle {
    left: 20px !important;
    right: auto !important;
}
#mfn-wrapper ul.mfn-menu li ul.mfn-submenu li a {
    background-position: right 14px  !important;
}
.contact_box .buttons_wrapper .button_about:before {
    left: -16px !important;
	right:auto !important;
}
.contact_box ul li i {
margin-left: 7px !important;
margin-right:auto !important;
}
.icon-angle-right:before {
content: "\f104" !important;
float: left !important;
margin-right: 10px;
}
#Header .menu li ul {
	right:0 !important;
    left: auto !important;
}
#Header .menu li ul li ul {
    right: 180px !important;
	left:auto !important;
}

#Header .menu li ul li.hover .menu-arr-top {
    border-left: 0 none;
    border-right: 6px solid #fff;
    left: -6px;
    right: auto;
}
#Header .menu li ul li.hover .menu-arr-top {
    border-right-color: #88be4c  !important;
}
#Header .menu li ul li a .menu-arrow {
    left: 20px !important;
	right:auto !important;
}
.icon-chevron-right:before{
	content:"\f104" !important;
}
#Header .addons {
    left: 20px !important;
	right:auto !important;
}
#Header .logo {
    float: right !important;
/*    margin: 90px 20px 40px 0 !important;*/
}
.feature_box .desc {
    right: 0 !important;
	left:auto !important;
}
.offer ul.offer-slider li .image {
    float: left  !important;
}
.offer ul.offer-slider li .desc {
    float: right !important;
    margin: 0 1% 0 2% !important;
    direction: rtl !important;
	text-align:justify !important;
}
.icon_list {
    padding-right: 90px !important;
}
.icon_list .icon {
    right: 0 !important;
	left:auto !important;
}
.offer .owl-controls {
    right: 0 !important;
	left:auto !important;
}
.column, .columns {
    text-align: none;
    float: right !important;
}
.accordion .question h5 span.icon {
    right: -33px  !important;
	left:auto !important;
	background-position:right bottom !important;
}
.icon_box .icon_image ,
.icon_box h4{
    direction: rtl !important;
}
.icon_box p {
    direction: rtl !important;
    text-align: justify !important;
}
.portfolio ul.portfolio-slider li .desc .title {
    direction: rtl !important;
	margin-left:25px !important;
    margin-right: auto !important;
    padding: 20px 25px 20px 0 !important;
}
.portfolio ul.portfolio-slider li .desc .inside {
    direction: rtl !important;
    text-align: justify !important;
}
.clients ul li {
    float: right !important;
}
.testimonials ul.tm-content li .left {
    float: right !important;
	text-align:center;
}

.testimonials ul.tm-content li .desc {
    background-position: 100% 0 !important;
    direction: rtl !important;
    font-family: BYekan;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-align: right !important;
}
.testimonials ul.tm-content li .right {
    float: left !important;
}
.accordion .question h5 {
    direction: rtl !important;
}
.accordion .question {
    border-left-width: 0 !important;
    border-right-width: 50px !important;
    direction: rtl;
}
.column.one-fourth.column > h3 {
direction: rtl !important;
font-family: kufi !important;
text-align: right !important;
font-size: 23px !important;
}
#Footer .copyrights p {
    direction: rtl !important;
}
.four.columns, .one-fourth.column {
    direction: rtl  !important;
}
#Header #searchform.focus input[type="text"] {
    direction: rtl !important;
    padding: 5px 30px 9px 5px !important;
}
.fancy_heading {
    direction: rtl;
}
#Header .social {
	left:10px !important;
    right: auto !important;
}
.header-mb #Header .social {
    left: 10px !important;
    right: auto;
}
#Header #menu ul li a {
    text-align: right !important;
}

#mfn-slider .vertical-align-middle {
    direction: rtl;
}
#Content a > i {
    margin-left: 10px;
    margin-right: 0;
}
#Header #searchform a.icon {
    right: 0 !important;
	left:auto !important;
}
#Header #searchform {
    float: left !important;
}
a.button_large {
    direction: rtl;
    text-align: right;
}
#Header .expand {
    float: left;
    margin-left: 10px;
	margin-right:auto !important;
}
/* home-corprate */
ul.list_tick li {
    background-position: right 1px !important;
    margin-right: 0 !important;
	margin-left:auto !important;
    padding-right: 27px !important;
}
.faq .question {
    border-left-width: 0 !important;
    border-right-width: 50px !important;
}
.faq .question h5 span.icon {
    right: -33px !important;
	left:auto !important;
}
.faq .question .answer {
    direction: rtl !important;
    text-align: justify !important;
}
#Header .language {
    float: right !important;
    margin-left: 10px !important;
	margin-right:auto !important;
    text-align: right !important;
}
#Header .language > a i {
    margin-right: 0 !important;
    margin-left: 5px !important;
}
 #Header .language > a i, #Header .language a {
    direction: rtl;
}
/* home-landingpage */
ul.list li {
    direction: rtl !important;
}
.blockquote .inside {
    direction: rtl !important;
    font-family: BYekan;
    font-style: normal !important;
    text-align: justify !important;
}
.blockquote .author .photo {
    float: right !important;
    margin-left: 15px !important;
	margin-right:auto !important;
}
.blockquote .author .desc {
    float: right !important;
    text-align: right !important;
}
/*contact*/
.icon-th {
    float: right !important;
    margin-top: 3px !important;
}
/*about us */
#Subheader ul.breadcrumbs {
    direction: rtl !important;
}
.column.one-third.column > h5 {
    direction: rtl !important;
    text-align: justify !important;
}
.column.one-third.column > p {
    text-align: justify !important;
}
.progress_bars .bars_list {
    direction: rtl !important;
}
.progress_bars .bars_list li h6 .label {
    left: 5px !important;
	right:auto !important;
}
.progress_bars .bars_list li h6 {
    padding-left: 40px !important;
	padding-right:0 !important;
}

.timeline_items li:nth-child(2n+1) .desc {   
    text-align: right  !important;
}
.timeline_items li .desc {
    direction: rtl;
    float: left;
    text-align: justify;
}
/*full screen portfolio*/

ul.project_details li .label {
    border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
    float: right !important;
	border-right:none !important;
	text-align:right !important;
}
ul.project_details li p {
float: right;
text-align: right;
}
.project_info {
text-align: justify;
}
.portfolio_item.one .desc > a h5 {
text-align: right;
}
/*lists*/
ul.list_info li ,ul.list_plus li,ul.list_warning li,
ul.list_arrow li,ul.list_minus li,ul.list_help li{
    background-position: right 1px !important;
    margin-right: 0 !important;
	margin-left:auto !important;
    padding-right: 27px !important;
	padding-left:0 !important;
}
ol.list_alpha,list list_roman ,ol.list,ul.list {
    direction: rtl !important;
    margin-right: 27px !important;
    text-align: right !important;
}
/*tabs*/
.ui-tabs .ui-tabs-nav li {
    float: right  !important;
    margin: 0 0 0 10px  !important;
}
.ui-tabs.ui-widget-content, .ui-tabs .ui-widget-content {
    direction: rtl !important;
    text-align: justify !important;
}
/*buttons*/
.one-second.column {
    direction: rtl !important;
}
/* sidebar left*/

.column.one-second.column{
	direction: rtl !important;
    text-align: justify !important;
}
.column.one-third.column {
    direction: rtl !important;
    text-align: justify !important;
}
.column.two-third.column {
    direction: rtl !important;
    text-align: justify !important;
}

.column.three-fourth.column {
    direction: rtl !important;
    text-align: justify !important;
}
/* full screen portfolio */
.fs-portfolio a.go-to-homepage {
    top: 102px !important;
}
.fsa-slider-wrapper > li .fsa-title {
    margin: 0 5% 19px !important;
}
.fs-portfolio a.go-to-homepage {
    left: -180px !important;
	right:auto !important;
}
.fs-portfolio a.go-to-homepage .icon {
    float: right !important;
}
a.fsa-control,a.fsa-next{
	left:0 !important;
	right:auto !important;
}
.fsa-slider-wrapper > li .fsa-content {
    margin: 0 4% !important;
}
.Projects_header .categories ul {
    float: right !important;
}
.Projects_header .categories ul li {
    float: right !important;
}
#mfn-wrapper .form-table .mfn-add-tab {
float: right !important;
}
/* blog-timeline */
.post.timeline:nth-child(2n+1) {
    float: left !important;
}
.Projects_header .categories ul li a{
	direction:rtl;
}
.post .meta {
    direction: rtl;
}
.post .desc .date_grid i {
    margin-right: 0;
    margin-left: 7px;
}
/* footer */
.company_box .contact_details ul li i {
margin-left: 10px !important;
margin-right:auto !important; 
float: left !important;
}
.Recent_posts {
direction: ltr !important;
}

.Recent_comments ul li .text {
font-family: Byekan  !important;
font-style: normal  !important;
}
.widget_mfn_tag_cloud ul li {
float: right !important;
margin: 2px 0 0 5px !important;
} 
.Recent_posts ul li .desc p i {
    margin-left: 6px;
    margin-right: 0;
}
#Subheader ul.breadcrumbs li span {
    margin-left: 0;
    margin-right: 10px;
}
b, strong {
font-weight: normal !important;
}

/* Comments */
#comments .commentlist > li .photo {
right: 30px !important;
left:auto !important;
}
#comments .commentlist > li .reply {
left: 20px !important;
right:auto !important;
}
#comments .commentlist > li .comment-body {
    padding: 20px 125px 20px 20px !important;
}
#comments .commentlist > li .comment-author,#comments .commentlist > li p,#comments .commentlist > li .comment-meta {
    direction: rtl;
	text-align:right !important;
}
#respond .comment-form-author {
    float: right !important;
}
#respond .comment-form-email {
    float: right !important;
}
#respond .form-submit input[type="submit"] {
    float: left !important;
}
.has-switch span {
font-weight: normal !important;
}
/*****EDIT Version 1.2.8 By farishtheme ************/
#Header #top_bar p.mob_phone {
    margin-left: 10px !important;
	margin-right:auto !important;
}
#Header #menu ul li.submenu .menu-toggle{
	left:0 !important;
	right:auto !important;
}
.portfolio ul.portfolio-slider {
  direction: ltr;
}
.offer {
  direction: ltr;
}
.clients ul li.last_in_row .client_wrapper {
  border-left-color: transparent !important;
}
.clients ul li .client_wrapper {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right: 0 !important;
}
/*@media screen and (min-width: 768px) {
	.header-mb #Header .social{
		right:10px !important;
		left:auto !important;
	}
}
@media screen and (max-width: 960px) {
	.header-mb #Header .social{
		left:10px !important;
		right:auto !important;
	}
}*/